// Заголовки, общие БЄМ блоки и проче...

.section-heading {
  font-family: var(--font-poppins);
  font-size: 30px;
  font-weight: 600;

  @media (min-width: 768px) {
    font-size: 32px;
  }

  @media (min-width: 1260px) {
    font-size: 45px;
  }
}